<%- include("header") -%>
<h2>This is the about page, enjoy!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea commodi, sit nisi natus, a eligendi labore amet tempora accusamus deleniti cupiditate odio ab laudantium suscipit explicabo soluta beatae dolores!</p>
<%- include("footer") -%>